# Data Science Tools and Ecosystem

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

In this notebook, Data Science Tools and Ecosystem are summarized.

 **Objectives:**
- List popular languages for Data Science
- List popular libraties for Data Science
- List popoulr tools for Data Science

 **Objectives:**
- List popular languages for Data Science
- List popular libraties for Data Science
- List popoulr tools for Data Science

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++
4. Java

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++
4. Java

### Some of the commonly used libraries used by Data Scientists include:
Python Scientific computing libraries :-
1. Numpy
2. Pandas
3. Seaborn
4. Matplotlib
5. Scipy

AI Libraries:-
1. Tensorflow
2. Pytorch
3. Keras
4. Scikit-learn

R Libraries:-
1. dplyr
2. stringr
3. ggplot
4. caret

## Data Science Tools
|Data Science Tools|
|-----------------|
|Application programming interface, API|
|Extract, Load, Transform, ELT|
|Machine learning uses algorithms, ML|
|Natural Language Processing,NLP|
|RE stands for Representational, REST|
|Software as a service, SaaS|

## Data Science Tools
|Data Science Tools|Term|
|-------------|------|
|Application programming interface| API|
|Extract, Load, Transform| ELT|
|Machine learning uses algorithms| ML|
|Natural Language Processing|NLP|
|RE stands for Representational| REST|
|Software as a service| SaaS|

### Below are a few examples of evaluating arithmetic expressions in Python

#### 1. Simple arithmetic expression
expression = "2 + 3 * 4 - 1"
result = eval(expression)
print(result)  # Output: 13

#### 2. Using parentheses to change the order of operations
expression = "(2 + 3) * 4 - 1"
result = eval(expression)
print(result)  # Output: 19

#### 3. More complex expression with functions
import math
expression = "4 / 3 * math.pi * math.pow(25, 3)"
result = eval(expression)
print(result)  # Output: 65449.847

In [3]:
### Below are a few examples of evaluating arithmetic expressions in Python

#### 1. Simple arithmetic expression
expression = "2 + 3 * 4 - 1"
result = eval(expression)
print(result)  

#### 2. Using parentheses to change the order of operations
expression = "(2 + 3) * 4 - 1"
result = eval(expression)
print(result)  

#### 3. More complex expression with functions
import math
expression = "4 / 3 * math.pi * math.pow(25, 3)"
result = eval(expression)
print(result)

13
19
65449.84694978735

####  Using parentheses to change the order of operations
expression = "(3 * 4) +5"
result = eval(expression)
print(result)

In [4]:
####  Using parentheses to change the order of operations
expression = "(3 * 4) +5"
result = eval(expression)
print(result)

17

In [5]:
### This will convert 200 minutes to hours by diving by 60
expression =" 200 /60"
result =eval(expression)
print (result)

3.3333333333333335

## Author 
## Chow Siew Kean

## Author 
## Chow Siew Kean